<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <rabbit:connection-factory id="rabbitConnectionFactory" host="localhost" port="5672" username="guest" password="guest"/>

    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.JsonMessageConverter">
        <property name="defaultCharset" value="UTF-8"/>
    </bean>

    <rabbit:template id="rabbitTemplate" connection-factory="rabbitConnectionFactory"
         exchange="myExchange" routing-key="foo.bar" message-converter="jsonMessageConverter"/>

    <rabbit:admin connection-factory="rabbitConnectionFactory"/>

    <rabbit:queue name="myQueue"></rabbit:queue>

    <rabbit:topic-exchange name="myExchange">
        <rabbit:bindings>
            <rabbit:binding queue="myQueue" pattern="foo.*"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:topic-exchange>


    <!--<rabbit:listener-container connection-factory="rabbitConnectionFactory" message-converter="jsonMessageConverter">-->
        <!--<rabbit:listener ref="receiver" queue-names="myQueue" method="execute" />-->
    <!--</rabbit:listener-container>-->

    <bean id="receiver" class="com.rabbit.receivers.Receiver"></bean>
</beans>